.idea/

data/

dgl_dataset/
dgl_model/
dgl_model_train_stats/
dgl_model_evaluation_stats/

__pycache__/
*.py[cod]

results_ga_dnc101_naswt_*/
results_ga_dnc101_train/
results_ga_dnc201_naswt_*/
results_ga_dnc201_train/
results_nas_ea_fa_v2_dnc101_naswt_*/
results_nas_ea_fa_v2_dnc201_naswt_*/
results_nas_ea_fa_v2_cio101_train/
results_nas_ea_fa_v2_dnc101_train/
results_nas_ea_fa_v2_cio201_train/
results_nas_ea_fa_v2_dnc201_train/
